/*imports*/
@import url("calendar.css");
@import url("custom_2.css");
@import url("jquerysctipttop.css");
@import url("jquery-video-lightning.css");
@import url("lightGallery.css");
@import url("remodal.css");
@import url("remodal-default-theme.css");
@import url("responsiveslides.css");
@import url("slider.css");
@import url("fixed-navigation-bar.css");


/*styles*/
.row { float: left; clear: both; width: 100%; }


.container 
.columns { float: left; padding-right: 1em; padding-left: 1em; }



.container 
.columns.one, 
.container 
.columns.two, 
.container 
.columns.three, 
.container 
.columns.four, 
.container 
.columns.five, 
.container 
.columns.six, 
.container 
.columns.seven, 
.container 
.columns.eight, 
.container 
.columns.nine, 
.container 
.columns.ten, 
.container 
.columns.eleven, 
.container 
.columns.twelve, 
.container 
.columns.thirteen, 
.container 
.columns.fourteen, 
.container 
.columns.fifteen, 
.container 
.columns.sixteen { width: 100%; }



.container { width: 100%; }



.clearfix:after, .container:after { content: ''; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both; }


.clearfix, .container { zoom: 1; }




/*media queries*/
@media only screen and (min-width: 450px) { body { font-size: 1em; /* 16 / 16 */ line-height: 1.5em; }
  
.container 
.columns.one { width: 6.25%; }
  
.container 
.columns.two { width: 12.5%; }
  
.container .columns.three { width: 18.75%; }
  
.container .columns.four { width: 25%; }
  
.container .columns.five { width: 31.25%; }
  
.container .columns.six { width: 37.5%; }
  
.container .columns.seven { width: 43.75%; }
  
.container .columns.eight { width: 50%; }
  
.container .columns.nine { width: 56.25%; }
  
.container .columns.ten { width: 62.5%; }
  
.container .columns.eleven { width: 68.75%; }
  
.container .columns.twelve { width: 75%; }
  
.container .columns.thirteen { width: 81.25%; }
  
.container .columns.fourteen { width: 87.5%; }
  
.container .columns.fifteen { width: 93.75%; }
  
.container .columns.sixteen { width: 100%; }
  
.container { width: 90%; margin: 0 auto; } }
html.lt-ie9 { max-width: 600px; margin: 0 auto; position: relative;  }




/*styles*/
@-ms-viewport { width: device-width; }


* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; box-sizing: border-box;}



html { font: 100%/1.5em Helvetica, Arial, sans-serif; min-height: 100%; position: relative; padding-bottom:em; }


body { font-size: 0.875em; /* 14 / 16 */ line-height: 1.5em; color: #313131; }

img { max-width: 100%; height: auto;width: 100%; }

img ul li { max-width: 100%; height: auto; }

a {color:inherit; text-decoration:none;}




/*typography*/

h1.title {font-size:56px; margin:0.5em 0 0 0; text-align:center; line-height:1em}
h3 { color: #00A2E8;}
h3.info { color: #00A2E8; text-align:center }
h3.upcoming { color: #00A2E8; font-size:2em; margin:0.5em auto; border-bottom:#ef4f69 3px solid; padding-bottom:0.4em; padding-left:5em }
h3 img {width:100px;}
h2.activity	{color: #00A2E8; text-align:center; margin:1em auto; padding-bottom:em; font-size:2em;}
ul.list	{margin: 0 1em;list-style-type: none;}
h2.kidsnewsh	{color:#00A2E8; border-top: #ef4f69 3px solid; padding: 1em 10em; }
p.kidsnewsp	{ padding: 0.2em 0 0 0; font-size: 0.875em; }
.kidsnews img	{max-width:100px; float:left; padding:0 1em 0 0;  }
h2.popup	{color: #00A2E8; padding:0 0 1em 0;}
a.newsa	{color:blue}



/*logo*/





/*footer*/

footer { text-align: center; padding: 2em 0 1em 0; font-family: georgia, serif; overflow: hidden; color:#fff; background: #3b3b3b;margin: 5em 0 0 0}

/*header*/
header.row { padding: 3em 0; }



/*band styles*/

.band { padding: 1.5em 0; }







/*page specific styles*/

.featured-section { padding: 2em 0 0; }


.featured-section .four { margin: 1em 0; }


.banner h2 { color: #00A2E8; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }

.banner2 h2 {  color: #00A2E8; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }
.banner3 h2 {  color: #00A2E8; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }
.banner4 h2 {  color: #00A2E8; font-size: 3.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }



.learn-more { background: #3b3b3b; text-align: center; }


.learn-more h2 { color: #f9f9f9; line-height: 2em; }


.button { padding: 0 .75em; background: #00A2E8; color: white; text-decoration: none; border-radius: .1em; font-weight: bold; display: inline-block; }


.button:hover { background: #0095D5; }
#social-media ul li {display:inline;list-style:none; padding:3%}
#social-media img {max-width:100%; width:40px;}



/*media queries*/

@media only screen and (min-width: 450px) { h1.logo { float: left; margin: 0 1em 0 0; }
 
 .band.banner { padding: 15% 0; background: url("../img/banner.jpg") no-repeat center center; background-size: cover;margin-top: -35px; position: relative;}

 .banner h2 { color: white; font-size: 5em; text-align: left; }
 
 .container .featured-section .four { width: 50%; }
  
.container .featured-section .four:nth-child(3) { clear: both; }


.band.banner2 { padding: 20% 0; background: url("../img/kids.jpg") no-repeat center center; background-size: cover; }
 
 .banner2 h2 { color: #fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 5em; text-align: left; }
 
 
 .band.banner3 { padding: 20% 0; background: url("../img/kids.jpg") no-repeat center center; background-size: cover; }
 
 .banner3 h2 { color: #fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 5em; text-align: left; }
 
 
 .band.banner4 { padding: 20% 0; background: url("../img/kids.jpg") no-repeat center center; background-size: cover; }
 
 .banner4 h2 { color: #fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 5em; text-align: left; }
 
 
 .band.banner5 { padding: ; background: url("../img/kids.jpg") no-repeat center center; background-size: cover;  }
 

 
 .banner5 h2 { color: #fff;text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 5em; text-align: left; }
 
  
 
 .news { padding: 100% 0; background: url("../img/news.jpg") no-repeat center center; background-size: cover; }
 
.kidsnews	{ padding: 0.5em 0 0.3em 0; border-bottom: #d3d3d3 1px solid;}
.newsdate	{color: #d3d3d3; margin:0 0 0 8em}
#social-media ul li {display:inline;list-style:none; padding:3%}
#social-media img {max-width:100%; width:40px;}

  




@media only screen and (min-width: 900px) { .container .featured-section .four { width: 25%; }
  
.container .featured-section .four:nth-child(3) { clear: none; }
  
.featured-section .four { margin: 2em 0; } }



/*social-media*/

#social-media ul li {display:inline;list-style:none; padding:3%}
#social-media img {max-width:100%; width:40px;}

.columns.eight h4 { color: #fff; font-size: 2.2em; line-height: 1em; letter-spacing: -0.05em; text-align: center; font-family: georgia, serif; }

.copyright {text-align:left}






